html
	head
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(charset='utf-8')
		title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		
	body
		block content
			.container
			form.container-fluid.col-lg-4.col-md-6(action="/web/futures", method="post")
				h1 Trade
				
				.form-group
					//- label.control-label Side
					.input-group.mb-3
						.input-group-prepend
							label.input-group-text(for="inputGroupSelect01") Side 
					
						select#positionSide.custom-select(for="inputGroupSelect01", onchange="setOrder()", name="positionside")
							option(value="LONG" selected) Long
							option(value="SHORT") Short
				h5 Abrir
					strong#optitle Buy
				.form-group.row
					label.col-sm-2.col-form-label.col-form-label-sm(for="ipOpenPrice") Price
					.col-sm-10
						input#ipOpenPrice(type="number", name="openprice", value=lastPrice, onkeyup="setOrder(this)", onchange="setOrder(this)", step=Math.pow(10, -pricePrecision), min=parseFloat(filters[0]["minPrice"])).form-control.form-control-sm

				.form-group.row
					label.col-sm-2.col-form-label.col-form-label-sm(for="ipPrice") Amount
					.col-sm-10
						input#ipOpenAmount(type="number", name="openamount", step=parseFloat(filters[2].minQty), min=parseFloat(filters[2].minQty), value=(((maxSize - leverage)/lastPrice).toFixed(quantityPrecision))).form-control.form-control-sm

				.form-group
					.btn-group.btn-group-toggle(data-toggle="buttons")
						label.btn.btn-outline-primary min
							input.form-check-input(type="radio", name="radioQtyPerc", id="qtyPerc0", value=0, onclick="qtyPerc(this)")
						
						label.btn.btn-outline-primary 25%
							input.form-check-input(type="radio", name="radioQtyPerc", id="qtyPerc1", value=25, onclick="qtyPerc(this)")
						
						label.btn.btn-outline-primary 50%
							input.form-check-input(type="radio", name="radioQtyPerc", id="qtyPerc2", value=50, onclick="qtyPerc(this)")
							
						label.btn.btn-outline-primary 75%
							input.form-check-input(type="radio", name="radioQtyPerc", id="qtyPerc3", value=75, onclick="qtyPerc(this)")
							
						label.btn.btn-outline-primary.active 100%
							input.form-check-input(type="radio", name="radioQtyPerc", id="qtyPerc4", value=100, onclick="qtyPerc(this)", checked)
							


				h5 Cerrar
					strong#cltitle Sell
				.form-group.row
					label.col-sm-2.col-form-label.col-form-label-sm(for="ipClosePrice") Price
					.col-sm-6
						input#ipClosePrice(type="number", name="closeprice", onchange="perCalc(this)", step=Math.pow(10, -pricePrecision), min=parseFloat(filters[0]["minPrice"])).form-control.form-control-sm
					.col
						input#perprice(type="number", placeholder="%", value=0.5, onchange="setOrder()", step=0.01, min=0.01).form-control.form-control-sm
				.form-group.row
					label.col-sm-2.col-form-label.col-form-label-sm(for="ipCloseStop") Stop
					.col-sm-6
						input#ipCloseStop(type="number", name="closestop", onchange="perCalc(this)", step=Math.pow(10, -pricePrecision), min=parseFloat(filters[0]["minPrice"])).form-control.form-control-sm
					.col
						input#ipPerstop(type="number", placeholder="%", value=0.25, onchange="setOrder()", step=0.01, min=0.01).form-control.form-control-sm
				.form-group.row
					label.col-sm-2.col-form-label.col-form-label-sm(for="ipCloseLimit") Limit
					.col-sm-10
						input#ipCloseLimit(type="number", name="closelimit", step=Math.pow(10, -pricePrecision), min=parseFloat(filters[0]["minPrice"])).form-control.form-control-sm
				.form-group.row
					label.col-sm-2.col-form-label.col-form-label-sm(for="ipCloseAmount") Amount
					.col-sm-10
						input#ipCloseAmount(type="number", name="closeamount", step=parseFloat(filters[2].minQty), min=parseFloat(filters[2].minQty), value=(((maxSize-leverage)/lastPrice).toFixed(quantityPrecision))).form-control.form-control-sm
				input#pricePrecision(type="hidden", value=pricePrecision)
				input#symbol(type="hidden", name="symbol" value=symbol)
				button.btn.btn-primary Submit

		script(src='/js/jquery.slim.min.js')
		script(src='/js/jquery.min.js')
		//- script(src='/js/popper.min.js')
		script(src='/js/bootstrap.min.js')

		script.
			//- $().button('toggle');
			//- $().button('dispose');
			var pricePrecision = document.getElementById("pricePrecision").value;
			setOrder()
			console.log(#{maxSize});
			function setPriceDecimal(element) {
				element.value = parseFloat(element.value).toFixed(pricePrecision);
			}

			function oneDot(input) {
				var value = input.value,
					value = value.split('.').join('');

				if (value.length > pricePrecision) {
					value = value.substring(0, value.length - pricePrecision) + '.' + value.substring(value.length - pricePrecision, value.length);
				}
				input.value = value;
			}

			function setOrder(element=null) {
				//- ipOpenAmount
				if (element!=null) {
					if (element.id == "ipOpenPrice") {
						//- oneDot(element);
						var maxSize = #{maxSize};
						var amount = (((maxSize- #{leverage})/element.value).toFixed(#{quantityPrecision}));
						var selQtyPerc = document.querySelector("input[name='radioQtyPerc']:checked").value
						var pamt = selQtyPerc == 0 ? #{filters[2].minQty} : (amount  * (selQtyPerc/100)).toFixed(#{quantityPrecision});
						console.log(amount);
						document.getElementById("ipOpenAmount").value = pamt;
						document.getElementById("ipCloseAmount").value = pamt;
					}
				}
				var opprice = parseFloat(document.getElementById("ipOpenPrice").value);
				var perprice = document.getElementById("perprice").value;
				var perstop = document.getElementById("ipPerstop").value;
				if (document.getElementById("positionSide").value == "LONG") {
					document.getElementById("optitle").innerHTML = "Buy";
					document.getElementById("cltitle").innerHTML = "Sell";
					clprice = opprice*(1+(perprice/100));
					stopprice = opprice*(1-(perstop)/100);
				}
				else {
					document.getElementById("optitle").innerHTML = "Sell";
					document.getElementById("cltitle").innerHTML = "Buy";
					clprice = opprice*(1-(perprice/100));
					stopprice = opprice*(1+(perstop)/100);
				}

				document.getElementById("ipClosePrice").value= clprice.toFixed(pricePrecision);
				document.getElementById("ipCloseStop").value = stopprice.toFixed(pricePrecision);
				document.getElementById("ipCloseLimit").value = stopprice.toFixed(pricePrecision);
				//- document.getElementById("ipOpenPrice").value= opprice.toFixed(pricePrecision);
			}

			function perCalc(element) {
				//- ipCloseStop
				var opprice = parseFloat(document.getElementById("ipOpenPrice").value);
				var clprice, clstop = 0;
				var side = document.getElementById("positionSide").value;
				if (element.id == "ipClosePrice") {
					var clprice = parseFloat(element.value);
					var resultprice = side=="LONG" ? ((clprice/opprice) - 1) * 100 : (-1)*(((clprice/opprice) - 1) * 100);
					document.getElementById("perprice").value = parseFloat(resultprice).toFixed(2);
					//- console.log("perprice");
				} else {
					clstop = parseFloat(element.value);
					var resultstop = side=="LONG" ? (-1)*(((clstop/opprice) - 1) * 100) : ((clstop/opprice) - 1) * 100;
					document.getElementById("ipPerstop").value = parseFloat(resultstop).toFixed(2);
				}
			}

			function qtyPerc(element) {
				var valPerc = element.value;
				var maxSize = parseFloat(#{maxSize});
				var lastPrice = parseFloat(document.getElementById("ipOpenPrice").value);
				//- alert(element.value);
				//- ((maxSize/lastPrice -10).toFixed(quantityPrecision))
				var maxQty = eQty = ((maxSize - #{leverage})/lastPrice);
				if (valPerc != 0)
					eQty = (maxQty  * (parseInt(valPerc)/100)).toFixed(#{quantityPrecision});
				else eQty = parseFloat(#{filters[2].minQty});
				//- console.log("perc qty", eQty);
				document.getElementById("ipOpenAmount").value = eQty;
				document.getElementById("ipCloseAmount").value = eQty;
			}


		